/**{margin:0;padding:0;text-decoration:none}*/
body{ font-smoothing:antialiased; -webkit-font-smoothing:antialiased !important; }
header{position:relative;width:100%;}
nav{position:relative;width:100%;margin:0 auto; z-index:2;  font-smoothing:antialiased; -webkit-font-smoothing:antialiased !important; }
@font-face {font-family: "Open Sans"; src: url("../fonts/Open Sans.eot"); /* IE9*/ src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/Open Sans.woff2") format("woff2"), /* chrome firefox */ url("../fonts/Open Sans.woff") format("woff"), /* chrome firefox */ url("../fonts/Open Sans.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/ url("../fonts/Open Sans.svg#Open Sans") format("svg"); /* iOS 4.1- */}
.blue{color:#016caa;}
#cssmenu{width:100%;  margin: auto; background: #f7dddd; text-transform: uppercase; text-align: center; justify-content: center; align-items: center;   }
/*#cssmenu{ margin: auto; background: #fff; text-transform: uppercase!important;  }*/
.tap{ margin: auto; background: #fff; text-transform: uppercase!important; text-align: center!important; justify-content: center!important; align-items: center!important; display:flex!important; margin:0px; padding: 0px; text-decoration: none;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }
#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{ margin:0;padding:0;text-decoration:none;}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block; clear:both; visibility:hidden; line-height:0; height:0;   }
#cssmenu #head-mobile{display:none;}
#cssmenu{font-family: Open Sans;}
#cssmenu > ul > li{float:left;}
#cssmenu > ul > li > a{padding:10px 22px; font-size:14px; font-family:Open Sans; letter-spacing:.5px; text-decoration:none; color:#333333; font-weight:600; font-smoothing:antialiased; -webkit-font-smoothing:antialiased !important;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#333333;}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{ background:#fcf1f0!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;  }
#cssmenu ul ul{position:absolute;left:-9999px;  background:#fff; min-width:100%; width: auto;  border:1px solid #fcf1f0;}
.sect #cssmenu ul ul{width:300px!important; width: auto; }
#cssmenu ul ul li{height:auto;-webkit-transition:all .15s ease;-ms-transition:all .15s ease; background:#fff;  width:auto; min-width:300px;  transition:all .15s ease; box-shadow:0 4px 4px 0 rgba(0,0,0,0.3),0 0px 0px rgba(0,0,0,0.19); }
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto;}
#cssmenu li:hover > ul > li{height:auto;}
#cssmenu ul ul ul{margin-left:100%; top:0;}
#cssmenu ul ul li a{border-bottom:0;padding:7px 20px; z-index:1; font-size:13px;text-decoration:none;color:#333333;font-weight:580; text-align: left; }
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0;}
#cssmenu ul ul li > a, #cssmenu ul ul li a{ background: #fff; border-right:1px solid #fff; } 
#cssmenu ul ul li, #cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#000; background: #fcf1f0; border-right:1px solid #fff; } 
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#fff; border-right:1px solid #fff; }
#cssmenu ul ul li a{background:#fff;}
#cssmenu ul ul ul li a{background:#fff;} #cssmenu ul ul ul li a:hover{background:#fcf1f0; }
#cssmenu ul ul ul li.active a{}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{  }
#cssmenu > ul > li:hover:before {content:""; border-bottom:13px solid #fff;  border-right:17px solid transparent; border-left:17px solid transparent; position:absolute;
 top:-13px; left:20px; z-index:10; margin-top:36px;  }
#cssmenu > ul > li:hover:after {content:""; border-bottom:15px solid #ccc; border-right:19px solid transparent;  border-left:19px solid transparent; position:absolute;
 top: -15px; left:20px; z-index: 8; margin-top:36px; }
/*@media screen and (max-width:820px){*/
 @media (min-width: 300px) and (max-width: 780px) { 
.colum-menu-left{width:100%; float:left; position: relative; padding-left:20px!important; }  .colum-menu-right{width:100%;  padding-left:20px!important; float:left; position: relative;}
nav{width:100%; }
#cssmenu{width:100%; background: transparent;}
#cssmenu ul{width:100%; margin-top: 33px;}
#cssmenu ul li{width:100%;border-top:1px solid #cfcece; background:#fff;}
#cssmenu ul li:hover{background:#f5f5f5;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto; }
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0;}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px; }
#cssmenu ul ul li{background:#fff!important;}
#cssmenu ul ul li:hover{background:#d9d9da!important;  }
#cssmenu ul ul ul li a{padding-left:35px;}
#cssmenu ul ul li a{color:#333333;background:none;}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#333333;}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left;}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:17px;color:#333333;font-size:12px;font-weight:700; background: transparent;}
.button{width:55px;height:46px;position:absolute;right:0;top:0!important;cursor:pointer; }
.button:after{position:absolute;top:15px;right:20px;display:block;height:4px;width:25px;border-top:3px solid #d9d9da;border-bottom:3px solid #d9d9da;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:8px;right:20px;display:block;height:3px;width:25px;background:#d9d9da!important; content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:17px;border:0;height:3px;width:19px;background:#d9d9da;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:17px;background:#d9d9da;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #ccc;height:36px;width:36px;cursor:pointer; background:#999;}
#cssmenu .submenu-button.submenu-opened{background:#999;}
#cssmenu ul ul .submenu-button{height:24px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:15px;right:14px;width:8px;height:2px;display:block;background:#fff;content:''}
#cssmenu ul ul .submenu-button:after{top:13px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff;}
#cssmenu .submenu-button:before{position:absolute;top:12px;right:17px;display:block;width:2px;height:8px;background:#fff;content:''}
#cssmenu ul ul .submenu-button:before{top:10px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none;}
#cssmenu ul ul ul li.active a{border-left:none;}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none;}   }
.colum-menu-left{width:220px; float:left; position: relative; }  .colum-menu-right{width:220px;  padding-left:220px; }
#cssmenu ul ul li, #cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{border-right:none; }
#cssmenu ul ul .submenu-button{height:28px;width:35px;}





